<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <title>Document</title>
    <link rel="stylesheet" href="./src/style.css" />
  </head>
  <body>
    <div id="root" class="container">
      <h1 class="text-center my-4" contenteditable>Hello World!</h1>
      <div class="row">
        <div class="col-12 col-sm-3 col-md-2">
          <div class="form-group">
            <label for="inputSizeL">Size L</label>
            <input
              type="number"
              id="inputSizeL"
              class="form-control form-control-lg mb-2"
              v-bind:class="{'is-invalid': !area.L.valid}"
              v-model="area.L.size"
            />
            <div class="invalid-feedback">{{ area.L.message }}</div>
          </div>
          <div class="form-group">
            <label for="inputSizeM">Size M</label>
            <input
              type="number"
              id="inputSizeM"
              class="form-control form-control-lg mb-2"
              v-bind:class="{'is-invalid': !area.M.valid}"
              v-model="area.M.size"
            />
            <div class="invalid-feedback">{{ area.M.message }}</div>
          </div>
          <div class="form-group">
            <label for="inputSizeN">Size N</label>

            <input
              type="number"
              id="inputSizeN"
              class="form-control form-control-lg mb-2"
              v-bind:class="{'is-invalid': !area.N.valid}"
              v-model="area.N.size"
            />
            <div class="invalid-feedback">{{ area.N.message }}</div>
          </div>
          <button
            type="button"
            class="btn btn-primary col mb-2"
            v-on:click="renderHexagons"
          >
            Сгенерировать
          </button>
          <button
            type="button"
            class="btn btn-success col mb-2"
            v-on:click="renderDomens"
            v-if="shapesArr.length"
          >
            Посчитать
          </button>
        </div>

        <div class="col d-flex justify-content-center">
          <div id="hexagon-holder">
            <div
              v-for="(hexagon, i) in shapesArr"
              class="hexagon"
              :id="hexagon.id"
              :style="hexagon.style"
              @click="changeValue(hexagon.id)"
            >
              <!-- <b>{{ hexagon.value }}</b> -->
              <i :style="{fontWeight: hexagon.value ? 900 : 100}"
                >{{ hexagon.id }}</i
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="./index.js"></script>
  </body>
</html>
